body{
    background-color: #FFF8D4;
    width: 100%;
    height: 100%;
    margin: 0;
}
h1{
    text-align: center;
    background-color: #313647;
    color: white;
    margin: 0;
    border: 8px solid #435663;
}
h4{
    text-align: center;
    background-color: #435663;
    color: white;
    margin: 0;
}
#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#image-block{
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: space-evenly;
}
.img{
    height: 120px;
    border-radius: 50%;
}
#score{
    height: 30px;
    width: 200px;
    font-size: 23px;
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;*/
}
#name{
    height: 40px;
    width: 200px;
    font-size: 23px;
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;*/
}
#text-box, #reset{
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color: #A3B087;
    align-content: center;
    border-radius: 5%;
    box-shadow: inset 0 0 1rem rgba(85, 83, 83, 0.9);
}